<plugin name='acs-security' version='0.8-SNAPSHOT' grailsVersion='2.3 &gt; *'>
  <author>Charles Blonde</author>
  <authorEmail>charles.blonde@gmail.com</authorEmail>
  <title>Acs Security Plugin</title>
  <description>Microsoft ACS Authentication
</description>
  <documentation>http://grails.org/plugin/acs-security</documentation>
  <type>AcsSecurityGrailsPlugin</type>
  <resources>
    <resource>DefaultAcsSecurityConfig</resource>
  </resources>
</plugin>